
@media (min-width: 992px) {
    .formgeral{
      width: 650px;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }


@media (min-width: 570px) {
    .formgeral{
    margin-left: 1rem;
    margin-right: 1rem;
  }
}